logfire[fastapi,requests]
loguru
ipykernel
python-dotenv
fastapi
uvicorn[standard]
requests
numpy
sentence-transformers
pypdf
qdrant-client
pdfplumber
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
